body {background: #fdfdfd; color: #353535; font-family: 'OFL Sorts Mill Goudy TT', arial, serif; font-size: 20px; text-rendering: optimizeLegibility;}
html>body {font-size: 20px; line-height: 150%; }

body a { color: #3F92D2; text-decoration: none; }
body a:hover { text-decoration: underline; }
body h1, body h2, body h3, body h4, body h5, body h6 { font-weight: normal }
body h1 { font-size: 40px; }
body h2 { font-size: 30px; }

code { font-size: 16px; }

#wrap {
  width: 640px; 
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 1.0em;
}

#header {
  margin-bottom: 1.6em;
}

#logo {
  font-family: 'Pacifico', serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.036em;
  word-spacing: 0em;
  line-height: 1.2;
  color: #3F92D2;
}

#logo:hover { color: #0B61A4; }

#menu { margin-left: 0.4em; margin-top: 0.1em; }
#menu a { font-size: 18px; }
#menu .separator { margin-left: 0.2em; margin-right: 0.2em; }

#welcome_message { font-size: 30px; text-align: center; margin-top: 2.0em; }
#welcome_message p { font-style: italic; }

#post_title h1 {
  font-size: 40px; 
  margin-bottom: 0.1em;
}

#post_title a { color: black; }
#post_title a:hover { text-decoration: none; color: #3F92D2; }

#post_info {
  color: #808080;
  font-size: 18px;
  margin-bottom: 1.2em;
}

#post_content img { display: block; margin-top: 1.0em; margin-bottom: 1.0em; margin-left: auto; margin-right: auto; }
#post_footer { text-align: center; margin-top: 5.0em; margin-bottom: 1.8em; }

.line { display: block; height: 3px; background-color: #3F92D2; }
#footer { font-size: 14px; margin-top: 2.4em; text-align: center; font-style: italic; color: #3F92D2; }
#footer a { color: black; }

#post_list ol, #project_list ol { list-style-type: none; }
#post_list li, #project_list li { margin-left: 0em; margin-bottom: 1.2em; }
#post_list li a, #project_list li a { font-size: 28px; color: black; }
#post_list li a:hover, #project_list li a:hover { color: #3F92D2; text-decoration: none; }
#post_list .post_date { color: #A8A8A8; margin-left: 0.6em; font-size: 15px; }
#post_list .post_summary, #project_list .project_summary { display: block; font-size: 20px; font-style: italic; margin-top: 0.1em; }
