<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xml:lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">   
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
        
    <title>{{ page.title }}</title>

    <!-- Favicon -->
    {% comment %}
    <link rel="icon" href="{{ site.url }}/images/icon_fav.ico" type="image/x-icon" />
    {% endcomment %}

    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Pacifico:regular" rel="stylesheet" type="text/css">

    <link href="{{ site.url }}/media/css/aal.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ site.url }}/media/css/ui.css" media="screen" rel="stylesheet" type="text/css" />
    {% comment %}
    <link href="{{ site.url }}/media/css/layout.css" media="screen" rel="stylesheet" type="text/css" />
    {% endcomment %}

    <!-- Javascript -->
    {% comment %}
    <script type="text/javascript" src="{{ site.url }}/media/js/jquery-1.4.2.js"></script>
    {% endcomment %}

    <!-- Javascript Document Ready -->
    {% comment %}
    <script type="text/javascript">
        $(document).ready(function() {
            console.log("hi");
        });
    </script>
    {% endcomment %}
</head>
    
<body>

    <div id="wrap">
        <!-- Header -->
        <div id="header">
            <a href="{{ site.url }}/" id="logo">dev.Monsterzen.com</a>
            <div class="line"></div>
            <div id="menu">
                <a href="{{ site.url }}/blog/">blog</a>
                <span class="separator">-</span>
                <a href="{{ site.url }}/projects/">projects</a>
                <span class="separator">-</span>
                <a href="{{ site.url }}/about/">about</a>
                {% comment %}
                <span class="separator">-</span>
                <a href="{{ site.url }}/feed/">feed</a>
                {% endcomment %}
            </div>
        </div>

        <!-- Content -->
        <div id="content">
            {% case page.type %}
            {% when "post" %}
                <div id="post_title"><h1>{{ page.title }}</h1></div>
                <div id="post_info">Publicado el {{ page.date | date_to_long_string }}.</div>
                <div id="post_content">{{ content }}</div>
            {% else %}
                <div id="post_content">{{ content }}</div>
            {% endcase %}
        </div>
  
        <!-- Footer -->
        <div id="footer">
        </div>
    </div>

</body>

</html>
