<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>dev.monsterzen.com - {{ page.title }}</title>
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Pacifico:regular" rel="stylesheet" type="text/css">    
    <link href="http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <!-- Stylesheets -->
    <link href="/media/css/aal.css" rel="stylesheet" type="text/css">
    <link href="/media/css/ui.css" rel="stylesheet" type="text/css">
    <link href="/media/css/syntax.css" rel="stylesheet" type="text/css">
    <!-- Javascript Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24131383-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    
    <!-- Header and Navigation -->
    <header>      
      <h1><a href="{{ site.url }}/">dev.Monsterzen.com</a></h1>
      <nav>
        <ul>
          <li><a href="/blog/">blog</a></li>
          <li><a href="/projects/">projects</a></li>
          <li><a href="/about/">about</a></li>
          <li><a href="/feed/rss.xml">rss</a></li>
        </ul>
      </nav>
    </header>
    
    <!-- Content -->    
    {% case page.type %}
    {% when "welcome" %}
    <div id="welcome_message">{{ content }}</div>
    {% when "post" %}
    <article>
      <div id="post_title"><h1><a href="{{ page.url }}">{{ page.title }}</a></h1></div>
      <div id="post_info">{{ page.date | date_to_long_string }}</div>
      <div id="post_content">{{ content }}</div>
      <footer><img src="/media/images/footer.png" /></footer>
    </article>
    {% else %}
    <div id="alt_content">
      {{ content }}
    </div>
    {% endcase %}

    <!-- Footer -->
    <footer></footer>

  </body>

</html>